@tailwind base;
@tailwind components;
@tailwind utilities; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

button{
  @apply rounded-full w-[250px] h-10 font-semibold  hover:scale-105 duration-200
}
